//CALIBRE FONTS
@font-face {
    font-family: Calibre-black;
    src: url('/fonts/Calibre/CALIBRE-BLACK.TTF');
}
@font-face {
    font-family: Calibre-blackitalic;
    src: url('/fonts/Calibre/CALIBRE-BLACKITALIC.TTF');
}
@font-face {
    font-family: Calibre-bold;
    src: url('/fonts/Calibre/CALIBRE-BOLD.TTF');
}
@font-face {
    font-family: Calibre-bolditalic;
    src: url('/fonts/Calibre/CALIBRE-BOLDITALIC.TTF');
}
@font-face {
    font-family: Calibre-light;
    src: url('/fonts/Calibre/CALIBRE-LIGHT.TTF');
}
@font-face {
    font-family: Calibre-lightitalic;
    src: url('/fonts/Calibre/CALIBRE-LIGHTITALIC.TTF');
}
@font-face {
    font-family: Calibre-medium;
    src: url('/fonts/Calibre/CALIBRE-MEDIUM.TTF');
}
@font-face {
    font-family: Calibre-mediumitalic;
    src: url('/fonts/Calibre/CALIBRE-MEDIUMITALIC.TTF');
}
@font-face {
    font-family: Calibre-regular;
    src: url('/fonts/Calibre/CALIBRE-REGULAR.TTF');
}
@font-face {
    font-family: Calibre-regularitalic;
    src: url('/fonts/Calibre/CALIBRE-REGULARITALIC.TTF');
}
@font-face {
    font-family: Calibre-semibold;
    src: url('/fonts/Calibre/CALIBRE-SEMIBOLD.TTF');
}
@font-face {
    font-family: Calibre-semibolditalic;
    src: url('/fonts/Calibre/CALIBRE-SEMIBOLDITALIC.TTF');
}
@font-face {
    font-family: Calibre-thin;
    src: url('/fonts/Calibre/CALIBRE-THIN.TTF');
}

//HELVETICA FONTS
@font-face {
    font-family: Helveticanowdisplay-black;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-BLACK.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-blackitalic;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-BLACKITA.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-bold;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-BLACK.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-bolditalic;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-BOLDITA.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-extrabold;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-EXTRABOLD.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-extrabolditalic;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-EXTBDITA.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-extrablack;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-EXTBLK.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-extrablackitalic;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-EXTBLKITA.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-extralight;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-EXTLT.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-extralightitalic;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-EXTLTITA.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-medium;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-MEDIUM.TTF');
}
@font-face {
    font-family: Helveticanowdisplay-regular;
    src: url('/fonts/Helvetica/HELVETICANOWDISPLAY-REGULAR.TTF');
}